@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
/* base styles */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

:root {
  --Background: hsl(180, 52%, 96%);
  --Filter-Tab: hsl(180, 31%, 85%);
  --Dark-Cyan: hsl(180, 8%, 52%);
  --VDark: hsl(180, 14%, 20%);
  --Desaturated: hsl(180, 29%, 50%);
}

body {
  background-color: var(--Background);
  background-repeat: no-repeat;
}

.split {
  display: flex;
  flex-direction: row;
}

button {
  background-color: var(--Filter-Tab);
  color: var(--Desaturated);
  margin: 5px;
  padding: 5px;
  font-size: 5px;
  font-weight: 700;
  transition: border 0.2s ease-in-out;
  cursor: pointer;
}
button:hover {
  background-color: var(--Desaturated);
  color: var(--Filter-Tab);
}

.navbar {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #1e1c1c;
}
.navbar .nav {
  display: flex;
  flex-direction: row;
}
.navbar .nav h1 {
  color: var(--VDark);
  font-weight: bold;
  font-size: 1.6em;
}
.navbar .nav .links {
  margin-left: auto;
}
.navbar .searchbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  padding: 10px 10px 10px 10px;
  margin: 20px auto;
  border: 2px solid black;
  background-color: white;
}
.navbar .searchbar .clear {
  margin-left: auto;
}

.home {
  max-width: 800px;
  padding: 20px;
  margin-inline: auto;
}
.home .section {
  background-color: var(--Filter-Tab);
  border: 1px solid var(--VDark);
  margin: 20px;
  padding: 5px;
  box-shadow: 10px 10px 10px grey;
  transition: border 0.2s ease-in-out;
}
.home .section:hover {
  border-left: 8px solid #000;
}
.home .section .icon {
  height: 75px;
  width: 75px;
  margin: 10px;
}
.home .section .content {
  flex: 1;
}
.home .section .content > * + * {
  margin: auto;
}
.home .section .content .up,
.home .section .content .mid,
.home .section .content .down {
  display: flex;
  padding-left: 1em;
}
.home .section .content .up p,
.home .section .content .mid p,
.home .section .content .down p {
  margin: 3px 10px;
  border-radius: 5px;
  padding: 5px;
  font-size: 5px;
  font-weight: 700;
}
.home .section .content .up p:nth-child(2) {
  background-color: var(--Dark-Cyan);
}
.home .section .content .up p:nth-child(3) {
  background-color: var(--Desaturated);
}
.home .section .content .mid p {
  font-size: 15px;
  font-weight: bold;
}
.home .section .content .skills {
  flex: 1;
  justify-content: flex-end;
}