@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Quicksand';
  color: #333;
}
:root {
  --Background: hsl(180, 52%, 96%);
  --Filter-Tab: hsl(180, 31%, 85%);
  --Dark-Cyan: hsl(180, 8%, 52%);
  --VDark: hsl(180, 14%, 20%);
  --Desaturated: hsl(180, 29%, 50%);
}
body {
  background-color: var(--Background);
  background-repeat: no-repeat;
}
.split {
  display: flex;
  flex-direction: row;
}
button {
  background-color: var(--Filter-Tab);
  color: var(--Desaturated);
  margin: 5px;
  padding: 5px;
  font-size: 5px;
  font-weight: 700;
  transition: border 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: var(--Desaturated);
    color: var(--Filter-Tab);
  }
}
//about navbar on the top
.navbar {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #1e1c1c;
  .nav {
    display: flex;
    flex-direction: row;
    h1 {
      color: var(--VDark);
      font-weight: bold;
      font-size: 1.6em;
    }
    .links {
      margin-left: auto;
    }
  }
  .searchbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px 10px 10px 10px;
    margin: 20px auto;
    border: 2px solid black;
    background-color: white;
    .clear {
      margin-left: auto;
    }
  }
}
//the new job list part
.home {
  max-width: 800px;
  padding: 20px;
  margin-inline: auto;
  .section {
    background-color: var(--Filter-Tab);
    border: 1px solid var(--VDark);
    margin: 20px;
    padding: 5px;
    box-shadow: 10px 10px 10px grey;
    transition: border 0.2s ease-in-out;
    &:hover {
      border-left: 8px solid #000;
    }
    .icon {
      height: 75px;
      width: 75px;
      margin: 10px;
    }
    .content {
      flex: 1;
      & > * + * {
        margin: auto;
      }
      .up,
      .mid,
      .down {
        display: flex;
        padding-left: 1em;
        p {
          margin: 3px 10px;
          border-radius: 5px;
          padding: 5px;
          font-size: 5px;
          font-weight: 700;
        }
      }
      .up {
        p {
          &:nth-child(2) {
            background-color: var(--Dark-Cyan);
          }
          &:nth-child(3) {
            background-color: var(--Desaturated);
          }
        }
      }
      .mid {
        p {
          font-size: 15px;
          font-weight: bold;
        }
      }
      .skills {
        flex: 1;
        justify-content: flex-end;
      }
    }
  }
}
